.video-player {
    position: relative;
    width: 100%;
    max-width: 400px; /* 枠の最大幅を設定 */
    height: 0;
    padding-bottom: 56.25%; /* 16:9 のアスペクト比 */
    overflow: hidden;
}

.video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }